.env
.env.backup
.env.production

_backup_native/
node_modules/
vendor/

/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
